extends layout
block content

  .maincontent

    each photo in indOne

      - var next = photo.photoId-1
      - var back = photo.photoId+1
      - var text 
      - text =  photo.photoPlace != 'undefined'? photo.photoPlace : text
      - text =  photo.photoCountry? text+" "+photo.photoCountry : text
      - text =  photo.photoComments? text+" "+photo.photoComments : text 

        unless filter
          unless back > galleryLength
            a.div.leftgallerytooltip(href='/displayphoto/'+back)
              p.direction back
              //span.tooltiptext #{filter}
        div.tooltip      
          img.displayimage(src="http://isabellebidou.com/images/"+photo.photoName, alt="photo.photoName")
          if text.length > 1 
          span.tooltiptext #{text}
          
          div.details #{text}
           if session
            if session.user 
              a.editPhoto(href='/editphoto/'+photo.photoId) edit
        unless filter
          unless next < 1
            a.div.rightgallerytooltip(href='/displayphoto/'+next)
              p.direction next
              //span.tooltiptext next
        if filter      
         a.closeWindow(href='/filterphotos') x
        else
         a.closeWindow(href='/gallery') x
        
        div.authentication
          a.togallerybutton(href='/gallery') to gallery   
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/gallery') to gallery  
                    li
                    a.mobilemenuli(href='/logout') logout
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });

