extends layout
block content

  .maincontent

    each photo in indOne

      - var next = index+1
      - var back = index-1
        a.div.leftgallerytooltip(href='/displayphoto/'+back)
          p #{back}
          // span.tooltiptext #{gallery[back].photoName}
        img.displayimage(src="http://isabellebidou.com/images/"+photo.photoName, alt="photo.photoName")
        a.div.rightgallerytooltip(href='/displayphoto/'+next)
          p #{next}
          //span.tooltiptext next
        a.closeWindow(href='/gallery') x

