extends layout
block navigation
        div.authentication
          a.togallerybutton(href='/gallery') to gallery   
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul

                    li
                    a.mobilemenuli(href='/gallery') to gallery  
                    if session
                      if session.user
                        li
                          a.mobilemenuli(href='/logout') logout
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });       
              
block content

  .maincontent


    each photo in indOne

      - var next = photo.photoId-1
      - var back = photo.photoId+1
      - var text 
      - text =  photo.photoPlace != 'undefined'? photo.photoPlace : text
      - text =  photo.photoCountry? text+" "+photo.photoCountry : text
      - text =  photo.photoComments? text+" "+photo.photoComments : text 

        unless session.filter
          unless back > galleryLength
            a.back(href='/displayphoto/'+back) 
              p.direction back
              
        div.frame      
          if text.length > 1 && text !== 'undefined'
          p#details #{text}
              if session
                if session.user 
                  a.edit(href='/editphoto/'+photo.photoId) edit
          img.displayimage(src="http://isabellebidou.com/images/"+photo.photoName, alt="photo.photoName")
           
        unless session.filter
          unless next < 1
            a.next(href='/displayphoto/'+next) 
              p.direction next
              
        if session.filter      
         a.closeWindow(href='/filterphotos') x
        else
         a.closeWindow(href='/gallery') x
        

        

