extends layout
block content

  .maincontent

    each photo in indOne

      - var next = photo.photoId+1
      - var back = photo.photoId-1
        unless filter
          unless back < 1
            a.div.leftgallerytooltip(href='/displayphoto/'+back)
              p back
              //span.tooltiptext #{filter}
        img.displayimage(src="http://isabellebidou.com/images/"+photo.photoName, alt="photo.photoName")
        unless filter
          unless next >= galleryLength
            a.div.rightgallerytooltip(href='/displayphoto/'+next)
              p next
              //span.tooltiptext next
        a.closeWindow(href='/gallery') x

