extends layout
block navigation
            div.authentication
              
              if session.user 
                if session.user.userRole == 'admin'
                  a.togallerybutton(href='/') to gallery
                form(action="/logout?_method=DELETE" method="POST")
                button.logoutbutton(type="submit") logout 
            button#menubutton
              | menu
              div#mobilemenu
                  ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/') to gallery  

                    if session.user
                      a.mobilemenuli(href='/logout') logout
                            
            script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });
block content 
      
    .maincontent
          
           if herb 
            form.detailform(method = "post")
              
              fieldset
                legend #{herb.herbName}
                label.detaillabel(for= "newName") name:
                input.detailinput(name= "newName", type = "text", value = herb.herbName) 
                label.detaillabel(for= "newNameLatin") latin name:
                input.detailinput(name= "newNameLatin", type = "text", value = herb.herbNameLatin)  
                label.detaillabel(for= "newNameFrench") french name:
                input.detailinput(name= "newNameFrench", type = "text", value = herb.herbNameFrench) 
                label.detaillabel(for= "newNameChinese") chinese name:
                input.detailinput(name= "newNameChinese", type = "text", value = herb.herbNameChinese) 
                label.detaillabel(for= "newTags") tags:
                input.detailinputThick(name= "newTags", type = "text", value = herb.herbTags) 
                label.detaillabel(for= "newCategory") category:
                input.detailinput(name= "newCategory", type = "text", value = herb.herbCategory) 
                label.detaillabel(for= "newProperties") properties:
                input.detailinput(name= "newProperties", type = "text", value = herb.herbProperties)
                label.detaillabel(for= "newLinks") links:
                if herb.herbLinks
                  each link in herb.herbLinks
                    input.detailinputThick(name= "newLinks", type = "text", value = link.url) 
                input.detailinputThick(name= "newLinks", type = "text")
                label.detaillabel(for= "newProducts") products:
                if herb.herbProducts
                  each link in herb.herbProducts
                    input.detailinputThick(name= "newProducts", type = "text", value = link.url) 
                input.detailinputThick(name= "newProducts", type = "text") 
                label.detaillabel(for= "newComments") comments:
                input.detailinput(name= "newComments", type = "text", value = herb.herbComments) 
                label.detaillabel(for= "newText") description:
                input.textarea(name= "newText", type = "text", value = herb.herbText)
                a.closeWindow(href='/') x
                //- var next = herb.herbId-1
                div.buttonsidebyside
                    button(type="submit", class = "submit") update
                    button.skip(href='/displayherb/'+herb.herbId) cancel 
                    
                

   
                