extends layout

block content
      .maincontent
          div
            
          .grid-container
                each photo in gallery

                    a.div.tooltip(href='/editphoto/'+photo.photoId)
                        img.photothumbnail(src="http://isabellebidou.com/images/"+photo.photoThumbnail, alt=photo.photoThumbnail)
                        span.tooltiptext #{photo.photoName}