extends layout
block navigation
            div.authentication
              a.home(href='/') home
              a.togallerybutton(href='/gallery') to gallery
              if session.user 
                if session.user.userRole == 'admin'
                  a.uploadjsonbutton(href='/uploadjson') upload JSON
                  a.updatedbbutton(href='/updatedb') update DB
                  
              if session.user
                form(action="/logout?_method=DELETE" method="POST")
                button.logoutbutton(type="submit") logout 
            button#menubutton
              | menu
              div#mobilemenu
                  ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/gallery') to gallery  

                    if session.user
                      if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                    if session
                        if session.user
                          li
                            a.mobilemenuli(href='/logout') logout
                            
            script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });
block content 
      
    .maincontent
          each photo in indOne
            img.detailimage(src="http://isabellebidou.com/images/"+photo.photoName, alt="photo.name")
            form.detailform(method = "post")
              
              fieldset
                legend #{photo.photoName}
                label.detaillabel(for= "newtags") tags:
                input.detailinput(name= "newtags", type = "text", value = photo.photoTags) 
                label.detaillabel(for= "newcategory") category:
                input.detailinput(name= "newcategory", type = "text", value = photo.photoCategory) 
                label.detaillabel(for= "newcountry") country:
                input.detailinput(name= "newcountry", type = "text", value = photo.photoCountry)
                label.detaillabel(for= "newplace") place:
                input.detailinput(name= "newplace", type = "text", value = photo.photoPlace) 
                label.detaillabel(for= "newyear") year:
                input.detailinput(name= "newyear", type = "text", value = photo.photoYear) 
                //label.detaillabel(for= "newcomments") comments:
                //input.detailinput(name= "newcomments", type = "text", value = photo.photoComments) 
                - var next = photo.photoId-1
                div.buttonsidebyside
                    button.buttonduo(href='/editphoto/'+next) skip 
                    button.buttonduo(type="submit", class = "submit") update
                

   
                