extends layout

block content
      .maincontent
          form(method="post" action="/gallery")
              input(name="search", type="text", Placeholder="Search For a photo...") 
              button.button(type="submit") Search     
          .grid-container
                each photo in gallery
                    - var text =  photo.photoPlace? photo.photoPlace : photo.photoCountry
                    - var text =  photo.photoCountry? text+" "+photo.photoCountry : text
                    - var text =  photo.photoComments? text+" "+photo.photoComments : text

                    a.div.tooltip(href='/displayphoto/'+photo.photoId)
                        img.photothumbnail(src="http://isabellebidou.com/images/"+photo.photoThumbnail, alt=photo.photoThumbnail)
                        span.tooltiptext #{text}