extends layout
block navigation
          div.authentication
            a.home(href = '/') home
            a.togallerybutton(href='/gallery') to gallery   
          button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='/') home
                    li
                    a.mobilemenuli(href='/gallery') to gallery  
                    li
                    a.mobilemenuli(href='/logout') logout
          script.
                $(document).ready(function() {
                $("#menubutton").click(function(){
                $("#mobilemenu").slideToggle();
                });
                });

block content
      .maincontent
          a.searchItem(href='/gallery')
           |remove filter "#{searchItem}" 

          form(method="post" action="/filterphotos")
              input.search(name="search", type="text", Placeholder="type 'sp' for example...") 
              button.searchbutton(type="submit") Search     
          .grid-container
                each photo in gallery
                    - var text =  photo.photoPlace? photo.photoPlace : photo.photoCountry
                    - var text =  photo.photoCountry? text+" "+photo.photoCountry : text
                    - var text =  photo.photoComments? text+" "+photo.photoComments : text

                    a.div.tooltip(href='/displayphoto/'+photo.photoId)
                        img.photothumbnail(src="http://isabellebidou.com/images/"+photo.photoThumbnail, alt=photo.photoThumbnail)
                        span.tooltiptext #{text}