extends layout

block content
      .maincontent
          div
          div.authentication
           unless session.user
            a.loginbutton(href='/login') login 
            a.registerbutton(href='/register') register
           if session.user
            form(action="/logout?_method=DELETE" method="POST")
             button.logoutbutton(type="submit") logout

          form(method="post" action="/filterphotos")
              input.search(name="search", type="text", Placeholder="type 'ir' for example...") 
              button.searchbutton(type="submit") Search     
          .grid-container
                each photo in gallery
                    - var text 
                    - text =  photo.photoPlace? photo.photoPlace : text
                    - text =  photo.photoCountry? text+" "+photo.photoCountry : text
                    - text =  photo.photoComments? text+" "+photo.photoComments : text 

                    a.div.tooltip(href='/displayphoto/'+photo.photoId)
                        img.photothumbnail(src="http://isabellebidou.com/images/"+photo.photoThumbnail, alt=photo.photoThumbnail)
                        if text.length > 1 
                         span.tooltiptext #{text}