extends layout

block navigation
    div.authentication
           a.home(href='/') home
           if session.user
            if session.user.userRole == 'admin'
             a.editgallery(href='/editgallery') edit gallery
           
           unless session.user
            a.loginbutton(href='/login') login 
            a.registerbutton(href='/register') register
           
           if session.user 
             if session.user.userRole == 'admin'
              a.uploadjsonbutton(href='/uploadjson') upload JSON
              a.updatedbbutton(href='/updatedb') update DB
              
           if session.user
            form(action="/logout?_method=DELETE" method="POST")
             button.logoutbutton(type="submit") logout
    button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='/') home
                    unless session.user
                        unless view == 'login'
                            li
                            a.mobilemenuli(href='/login') login 
                        unless view == 'register'
                            li
                            a.mobilemenuli(href='/register') register
                        
                    if session.user
                        if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                            li
                            a.mobilemenuli(href='/logout') logout                        
    script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });       



block content
      .maincontent
          div
          

          form.filterphotos(method="post" action="/filterphotos")
                //input.search(name="search", onchange='{handleChange(event)}' ,list = 'tags', type="text", Placeholder="type 'ir' for example...")  
                input.search(name="search",list = 'tags', type="text", Placeholder="type 'ir' for example...")              
                datalist#tags
                    each element in datalist
                        option.option #{element}
                //script.
 
                    function handleChange(e){
                    alert(e.target.value);
                    res.redirect('/');
                    } 
                button.searchbutton(type="submit") go     
          .grid-container
                each photo in gallery
                    - var text 
                    - text =  photo.photoPlace? photo.photoPlace : text
                    - text =  photo.photoCountry? text+" "+photo.photoCountry : text
                    - text =  photo.photoComments? text+" "+photo.photoComments : text 

                    
                    a.div.tooltip(href='/displayphoto/'+photo.photoId)
                        img.photothumbnail(src="http://isabellebidou.com/images/"+photo.photoThumbnail, alt=photo.photoThumbnail)
                        if text.length > 1 
                         span.tooltiptext #{text}
                         //https://coryrylan.com/blog/how-to-center-in-css-with-css-grid