doctype html
html
  head
    // Google Analytics tracking code
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-G7V5M6RTZV')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-G7V5M6RTZV');
    title isabelle Bidou -  
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.js', integrity='sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=', crossorigin='anonymous')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A description of the page, health, acidity,acids detox,adaptogen,adrenal fatigue,adrenals,alkalizing,alopecia,alzheimer,antalgic,anti-ageing,anti-inflammatory,anti-oxidant,anti-parasitic,anti-viral,antibiotic,antiinflammatory,anti-parasitic,antiviral,anxiety,aphrodisiac,artemisia absinthium,artemisia annua,asparagus racemosus,astragalus membranaceus,bladder,bloating,blood and lymph detoxifier,blood and lymph purifier,blood and lymphatic detox,blood and lymphatic microcirculation,blood flow,blood oxygenation,bones,boswellia serrata,brain,brain perfusion,burn-out,candida albicans,cardio vascular,centella asiatica,cerebral functions,chemical residues detox,chemical resudues detox,chron,chron's,chronic fatigue,chronic headech,colon,colon cleanser,constipation,cordyceps sinensis,cough,crohn's,curcuma longa,depression,destruction or mutant cells,detox,detoxification,deworming,digestion,diuretic,dna protection,dna rejuvinator,elimination,elimination of parasites eggs,elixir de longue vie,elymus repens,energy,eugenia caryophyllata,expectoration,eyes,fatigue,fertility,fever,fibromyalgia,flu,gallbladder,gallblader,gi trac,glaucoma,glycyrrhiza glabra,gonads,hair,hair growth,heals intestines lining,heavy metal detox,heavy metals detox,herpes,hyperthyroidism,hypothyroidism,ibs,imflammation,immune system,increases the body's release of neurotran,inflammation,insomnia,intestinal flora,intestinal inflammation,intestines,intestins,inula helenium,jet lag,kidney filtration,kidney stones,kidneys,leaky gut,liver,low blood pressure,low energy,low testosterone,lungs,lungs cleanser,malaria,menaupose,menopause,migraine,migraines,ms,mucus,multiple sclerosis,muscle and bone development,muscles,muscular growth,nervous system,neurons,neurotransmitters,parasite,parasites,petroselinum crispum,pineal,pituitary,polygonum multiflorum,premature aging,prevents cell premature aging.,prevents degradation of serotonin and dopamine,psoriasis,qi,rejuvinating,remineralizing,restores intestinal flora,rhodiola rosea,schizandrae chinensis,self confidence booster,sexual tonic,skin,sleep,sore throat,spleen,sports,five senses,strenghener,strenghtener,strength,sun burns,supports kidney and spleen,taraxacom,teeth,teeth growth,throat,thyroid,toxin elimination,toxins detox,tuberculosis,uncaria rhynchophylla,urinary trac infections,urtica dioica,utero,uti,vital life force,white hair,withania somnifera, cheveux , santé, regeneration, régénération, vitalisme, vitalité, energie, beauté, bien-être, bonheur, jeunesse ")

    link(rel='stylesheet', href='../app.css', type='text/css')
    link(rel='stylesheet', href='../mobile-landscape.css', type='text/css')
    link(rel='stylesheet', href='../mobile-portrait.css', type='text/css')

     
    script.
      $(document).ready(function(){
        console.log('document is ready');           
        const browserLocale = navigator.language || navigator.userLanguage;
        const countryCode = browserLocale.split('-')[1];
      });
      
        

      
 

  body
    #container
      block navigation
      
      .header
       // div.logo.h1.headertitle isabelle's herbs   
       a.logo.h1.headertitle(href='/')  isabelle's herbs          
 
      block content
             
  .footer
      p.item   Isabelle Bidou - copyright #{new Date().getFullYear()}
          br
          - if (countryCode !== 'FR' && countryCode !== 'fr')
            span.item
              a(href='/legalnotice', key='legalnoticelink') Legal Notice

          - if (countryCode === 'FR' || countryCode === 'fr')
            span.item
              a(href='/mentionslegales', key='mentionslegaleslink') Mentions legales
