
extends layout
block navigation
            div.authentication
              a.home(href='/') home
   
block content 
      
    .maincontent

        h1 Legal Notice
        p.itemp In accordance with the provisions of Law No. 2004-575 of June 21, 2004 on confidence in the digital economy, users of the iridology site are informed of the identity of the various parties involved in its implementation and monitoring.
        h2 Editing the site
        p.itemp This site, accessible at the URL
            a(href="https://iridology.herokuapp.com") https://iridology.herokuapp.com
            | (the “Site”), is published by: Isabelle Bidou, residing at 52 avenue de Choisy, 75013 Paris, France of French nationality (France), born on 28/10/1971, registered with the RCS of PARIS under number Paris 919846113,
        p.itemp The publisher's individual VAT number is: FR95919846113.
        h2 Accommodation
        p.itemp The Site is hosted by Heroku, located at 415 Mission St Ste 300, San Francisco, California, 94105, United States, (telephone or email contact: +14155205622).
        h2 Publication director
        p.itemp The Publication Director of the Site is Isabelle Bidou.
        h2 Contact us
        p.itemp By phone: +33753672587
            |By email :
            a(href="mailto:isa.bidou@gmail.com") isa.bidou@gmail.com
            br
            | By mail: 52 avenue de Choisy, 75013 Paris, France
        


