
extends layout
block navigation
            div.authentication
              a.home(href='/') home

block content 
      
    .maincontent

        h1 MENTIONS LÉGALES
        p.itemp Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site iridology l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
        h2 Edition du site
        p.itemp Le présent site, accessible à l’URL
            | a(href="https://iridology.herokuapp.com") https://iridology.herokuapp.com
            | (le « Site »), est édité par :

        p.itemp Isabelle Bidou, résidant 52 avenue de Choisy, 75013 Paris, France de nationalité Française (France), né(e) le 28/10/1971, inscrite au R.C.S. de PARIS sous le numéro Paris 919846113,

        p.itemp Le numéro individuel TVA de l’éditeur est : FR95919846113.
        h2 Hébergement
        p.itemp Le Site est hébergé par la société Heroku, situé 415 Mission St Ste 300, San Francisco, California, 94105, United States, (contact téléphonique ou email : +14155205622).
        h2 Directeur de publication
        p.itemp Le Directeur de la publication du Site est Isabelle Bidou.
        h2 Nous contacter
        p.itemp Par téléphone : +33753672587 
                |Par email : isa.bidou@gmail.com
                |Par courrier : 52 avenue de Choisy, 75013 Paris, France









