extends layout

block content
      .maincontent
        form#login(action='/register', method='POST')
         fieldset
            legend registration details
            ul
                li.div
                 label(for= "firstname") first name:
                 input(name= "firstname", autocomplete ="off", type = "text", pattern="[a-z]{3,}", title="Must contain letters", placeholder = " firstname", required) 
                li.div
                 label(for= "lastname") last name:
                 input(name= "lastname", autocomplete ="off", type ="text", pattern="[a-z]{3,}",title="Must contain letters", placeholder = "lastname", required)
                li.div
                 label(for= "email") email:
                 input(name= "email", type = "text", pattern ="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$", placeholder = "enter email", required)
                li.div
                 label(for= "password") Password:
                 input(name= "password", type = "password", pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z]){6,}", title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters",placeholder = "enter password", required)
                li.div
                    input(type='submit', value='Register')
                //button.button(type="submit") OK
        div.authentication
         a.loginbutton(href='/login') login 
         a.togallerybutton(href='/gallery') to gallery 
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                    li
                    a.mobilemenuli(href='/login') login
                        
                    li
                    a.mobilemenuli(href='/gallery') to gallery         
                    
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });  