extends layout
block navigation
            div.authentication
              a.home(href='/') home
              if session.user 
                if session.user.userRole == 'admin'
                  a.togallerybutton(href='/gallery') to gallery
                  a.uploadjsonbutton(href='/uploadjson') upload JSON
                  a.updatedbbutton(href='/updatedb') update DB
                if session.user.userRole == 'standard'
                  a.togallerybutton(href='/editgallery') to editgallery

              if session.user
                form(action="/logout?_method=DELETE" method="POST")
                button.logoutbutton(type="submit") logout 
            button#menubutton
              | menu
              div#mobilemenu
                  ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/gallery') to gallery  

                    if session.user
                      if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                    if session
                        if session.user
                          li
                            a.mobilemenuli(href='/logout') logout
                            
            script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });
block content 
      
    .maincontent
          
          each user in users  
            form.editUserForm(method = "post")
              
              fieldset.userDetails
                legend reset your password  - user id:  #{user.userId} 
                label.setLabel(for= "newPassword") new password:
                input.detailinput(name= "newPassword", id = "newPassword",type = "password") 
                button.buttonduo(type="submit", class = "submit") reset
          