extends layout

block content
    .maincontent
        form#updatedb(action='/updatedb', method='POST')
         fieldset
                legend sql statement
                ul
                   li.div
                    label enter sql statement:
                    input.longInput(name= "sql", type = "text" required) 
                   li.div
                    input(type='submit', value='update')
                    //button.button(type="submit") send update
        div.authentication
            a.togallerybutton(href='/gallery') to gallery 
            div.result
            if status
            #{status}
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul   
                    li
                    a.mobilemenuli(href='/gallery') to gallery  
                    if session
                      if session.user
                        li
                          a.mobilemenuli(href='/logout') logout       
                                    
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });