extends layout

block content
    .maincontent
        form#upload(action='/uploadjson', method='POST' enctype='multipart/form-data')
         fieldset
                legend browse to json file
                ul
                   li.div
                    label select JSON file:
                    input.longInput(name= "json", type = "file" required) 
                   li.div
                    input(type='submit', value='upload')
                    //button.button(type="submit") upload
        a.authentication(href='/gallery') back to gallery 
        div.result
        if status
         #{status}