extends layout

block content
    .maincontent
        form#upload(action='/uploadjson', method='POST' enctype='multipart/form-data')
         fieldset
                legend browse to json file
                ul
                   li.div
                    label select JSON file:
                    input.longInput(name= "json", type = "file" required) 
                   li.div
                    input(type='submit', value='upload')
                    //button.button(type="submit") upload
        div.authentication
            a.togallerybutton(href='/gallery') to gallery 
            div.result
            if status
            #{status}
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/gallery') to gallery  
                    if session
                      if session.user
                        li
                          a.mobilemenuli(href='/logout') logout 
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });