extends layout
block navigation
        div.authentication
            a.togallerybutton(href='/') to gallery 
            div.result
            if status
            #{status}
        button#menubutton
            | menu
            div#mobilemenu
                ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/') to gallery  
                    if session
                      if session.user
                        li
                          a.mobilemenuli(href='/logout') logout 
        script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });

block content
    .maincontent
        form#upload(action='/createsetname', method='POST' enctype='multipart/form-data')
         fieldset
                legend create new set name
                ul
                   li.div
                    label new set name
                    input.longInput(name= "newSetName", type = "text")
                   li.div
                    input(type="submit", value="create")
                    

    
        form#upload(action='/uploadjson', method='POST' enctype='multipart/form-data')
         fieldset
                legend browse to json file
                ul
                   li.div
                    label select existing set name:
                    select.longInput(name= "set", type = "select")
                     each element in setList
                        option.option #{element.photoSetName} 
                   li.div
                    label select JSON file:
                    input.longInput(name= "json", type = "file" required) 
                   li.div
                    input(type='submit', value='upload')
                    //button.button(type="submit") upload
