extends layout
block navigation
            div.authentication
              a.home(href='/') home
              a.togallerybutton(href='/') to gallery
              if session.user 
                if session.user.userRole == 'admin'
                  a.uploadjsonbutton(href='/uploadjson') upload JSON
                  a.updatedbbutton(href='/updatedb') update DB
                if session.user.userRole == 'standard'
                  a.togallerybutton(href='/editgallery') to editgallery
              
              if session.user
                form(action="/logout?_method=DELETE" method="POST")
                button.logoutbutton(type="submit") logout 
            button#menubutton
              | menu
              div#mobilemenu
                  ul#mobilemenuul
                        
                    li
                    a.mobilemenuli(href='/') to gallery  

                    if session.user
                      if session.user.userRole == 'admin'
                            li
                            a.mobilemenuli(href='/uploadjson') upload JSON
                            li
                            a.mobilemenuli(href='/updatedb') update DB
                    if session
                        if session.user
                          li
                            a.mobilemenuli(href='/logout') logout
                            
            script.
              $(document).ready(function() {
              $("#menubutton").click(function(){
              $("#mobilemenu").slideToggle();
              });
              });
block content 
      
    .maincontent
          
          each user in users  
            form.editUserForm(method = "post")
              
              fieldset.userDetails
                legend user id:  #{user.userId} user role: #{user.userRole}
                label.setLabel(for= "newfirstname") first name:
                input.detailinput(name= "newfirstname", id = "newfirstname",type = "text", value = user.userFirstName) 
                label.setLabel(for= "newlastname") last name:
                input.detailinput(name= "newlastname", id = "newlastname", type = "text", value = user.userLastName) 
                label.setLabel(for= "newemail") email:
                input.detailinput(name= "newemail", id= "newemail",type = "text", value = user.userEmail) 
                button.buttonduo(type="submit", class = "submit") update
                a(href='/resetpassword/'+user.userId) reset password
                
                
